body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../images/background.png");
    filter: opacity(10%);
  }

  #game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgb(80, 167, 190);
    text-align: center;
  }

  h1 {
    font-style: oblique;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
   p{
    font-style: oblique;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

   button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(80, 167, 190);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: oblique;
  }

   button:hover {
    background-color: rgb(100, 190, 210);
  }

  #firework {
    width: 250px; /* adjust the width to your liking */
    height: 250px; /* adjust the height to your liking */
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: explode 2s ease-in-out infinite;
    backdrop-filter:unset;
  }