body::before { 
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/background.png");
  filter: opacity(10%);
}
h1 {
  text-align: center; /* center the heading text */
  margin-bottom: 20px; /* add some space below the heading */
  font-size: 6em; /* make the heading font size larger */
  color: #c43939; /* dark gray text color */
  font-style: oblique;
}

#start-page p {
  text-align: center; /* center the paragraph text */
  margin-bottom: 20px; /* add some space below the paragraph */
  font-size: 2em;
  font-style: oblique;
  color: #dc6ebb;
}

img {
  display: block; /* prevent the image from being inline with text */
  margin: 0 auto; /* center the image horizontally */
  width: 100%; /* scale the image to fit the container */
  height: 100%;
}

#start-button{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: #c43939;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}