/*Needed to place picture behind everything and ony changing this opacity to 10%*/
body::before { 
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../images/background.png");
    filter: opacity(10%);
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 10px;
}

/*class*/
.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1rem;
}

/*id*/
#threeCrowns, #riksdagen{ 
    width: 55px;
    height: auto;
}

/*class*/
.next-question { 
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;    
    text-decoration: none;
    font-size: 16;
    border: none;
    transform: rotate(-1deg);
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-button span {
    font-family: sans-serif;
    font-weight: bold;
}

.image-button img {
    display: block;
}