body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(10%);
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#threeCrowns, #riksdagen{
    width: 55px;
    height: auto;
}

#questionPart {
    flex: 1;
    text-align: center;
    padding: 20px 0;
}

.party-logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
}

.buttons-question-3 {
    position: relative;
    display: block;
    margin-top: 20px;
    width:12rem;
    transform:rotate(-1deg);
    color: white;
    padding: 10px;
    border-style: none;
}

<--! rgb(190, 223, 246)